In [1]:
import configparser

#lib for connect to sharepoint
from office365.runtime.auth.user_credential import UserCredential
from office365.sharepoint.client_context import ClientContext
from office365.sharepoint.files.file import File 

#lib for read copy file from shared 
import io

#pandas %)
import pandas as pd

In [2]:
#read config(do not store passwords in the public) 
config = configparser.ConfigParser()
config.read('../config.ini')

user_share = config.get('SHARE_POINT', 'user')
password_share = config.get('SHARE_POINT', 'password')
sharepoint_url = config.get('SHARE_POINT', 'url')
sharepoint_doc = config.get('SHARE_POINT', 'doc_library')

user_credentials = UserCredential(user_share, password_share)
ctx = ClientContext(sharepoint_url).with_credentials(user_credentials)

In [3]:
#excample path and file
folder_name = 'Creditportfolio/2023/20230531'
file_name = 'WL 2023-05-31.xlsb'

file_url = "/".join([sharepoint_doc,folder_name,file_name])

response = File.open_binary(ctx, file_url)
#if you get something other than a 200 response, you should check the path or file name 
print(response)

#save data to BytesIO stream
bytes_file_obj = io.BytesIO()
bytes_file_obj.write(response.content)
bytes_file_obj.seek(0) #set file object to start

<Response [200]>

0

In [4]:
#here read exel, csv or else
df = pd.read_excel(bytes_file_obj, sheet_name='31.05.2023')
df.head()

,Date,FL_source_code,Country,Company Code,Customer group,Contract ID,Client ID,Client name,Stage (init) 28.02.2023,Stage (init) 31.03.2023,...,Category name,Sector,Sector name,NACE,Customer segment code,Customer segment name,Segment,Loan type code,Loan type,Business product
0,45077,LTU,LT,LT0010001,4905.,LD2128400023,2339921,KLAIPĖDOS MEDIENA AB,S2,S2,...,Loan,5400,Non-financial corporations,3109,530,Corporate customer,Corporate,1040600,Other loan,Business loans
1,45077,LTU,LT,LT0010001,4905.,LD2132600034,2339855,VMG TECHNICS UAB,S2,S2,...,Loan,5400,Non-financial corporations,3312,530,Corporate customer,Corporate,1040305,Vehicles and tangible fixed assets purchase,Business loans
2,45077,LTU,LT,LT0010001,4905.,LD2134900045,2339855,VMG TECHNICS UAB,S2,S2,...,Loan,5400,Non-financial corporations,3312,530,Corporate customer,Corporate,1040305,Vehicles and tangible fixed assets purchase,Business loans
3,45077,LTU,LT,LT0010001,4905.,LD2128400024,2339918,VAKARŲ MEDIENOS GRUPĖ UAB,S2,S2,...,Loan,5400,Non-financial corporations,7010,530,Corporate customer,Corporate,1040600,Other loan,Business loans
4,45077,CLF,LT,LT9990001,4905.,202103F-447,2339921,KLAIPĖDOS MEDIENA AB,S2,S2,...,Finance lease,5400,Non-financial corporations,3109,530,Corporate customer,Corporate,1040400,Finance lease,Leasing